@tailwind base;
@tailwind components;
@tailwind utilities;

.gallery-grid {
  max-width: 1200px;
  margin: 20px auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  grid-gap: 10px;
  grid-auto-flow: dense;
}

.gallery-item {
  aspect-ratio: 1/1;
}
